body {
  background-image: url(../img/group2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}

.numbers {
  font-size: 3em;
}

.second-header {
  margin-top: 25px;
  font-size: 2em;
}

.text-wrapper {
  background: rgba(198, 98, 154, 0.7);
  border-radius: 10px;
  padding: 5px;
}

input {
  color: black;
}
