body {
  background-image: url(img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header {
  color: red;
  text-align: center;
}

.numbers {
  font-size: 3em;
  color: white;
  text-align: center;
}

.second-header {
  margin-top: 25px;
  color: white;
  font-size: 2em;
  text-align: center;
}

.text-wrapper {
  background: rgba(198, 98, 154, 0.7);
  border-radius: 10px;
  padding: 5px;
  /*border: 1px solid red;*/
}

.page-header {
  color: white;
}